 .swiper {
    width: 100% !important;
    height: 100% !important;
}

.amenities_item{
    display: flex;
    align-items: center;
    gap: 30px;
}

.amenities_item img{
    width: 100%;
    height: auto;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.image {
    width: 500px;
    max-width: 600px;
    object-fit: cover;
    border-radius: 20%;
}

.content h2{
    font-size: 60px;
    margin-left: -100px;
    -webkit-text-stroke: 1px #fff;
}

.Nav_btns{
    display: flex;
    gap: 18px;
    color: #000;
    font-size: 20px;
    align-items: center;
    background-color: #cb5c00;
    border-radius: 30px;
    align-content: center;
    
}
.btn{
    color: #000;
    align-items:end;

}




@media screen and (max-width:1200px) {
    .content h2{
        font-size: 45px;
        margin-left: 0px;
       
    
    }
    .amenities_item img{
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    .content h2{
        font-size: 38px;
        margin-left: 0px;
    }
    .amenities_item img{
        width: 100%;
    }
}
    
@media screen and (max-width: 768px) {
    .amenities_item {
        flex-direction: column;
        margin: 0 5px; /* Adaugă 15px pe marginile stânga și dreapta */
    }

    .amenities_item img {
        width: 100%;
        margin: 0;
    }

    .content {
        padding: 0 15px; /* Adaugă 15px spațiu pentru text */
    }
}

