

/* Google fonts 'Playfair Display' and 'Poppins' */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif; /* Font principal pentru tot textul */
}

h1, h2, h3, .section_Title, .section_Heading {
  font-family: 'Playfair Display', serif; /* Font pentru titluri */
}

button {
  height: 45px;
  width: 180px;
  /* background-color: #cb5c00; */
  background-color: #3a2f25fa;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  transition: 1s;
  cursor: pointer;
  border-radius: 30px;
  box-shadow: 2px 2px 3px #ffffff94, inset 3px 3px 10px #ffffff94; 
  font-family: 'Poppins', sans-serif; /* Font pentru butoane */
}

.section_Heading {
  font-size: 50px;
  font-weight: 600;
  color: #1e1e1e;
  font-family: 'Playfair Display', serif; /* Font pentru secțiunea de titluri */
  padding: 30px;
}

.section_Title {
  font-size: 30px;
  color: #1e1e1e;
  font-family: 'Playfair Display', serif; /* Font pentru titluri */
  padding: 30px;
}

.Cards p {
  padding: 35px 20px;
  border: 1px solid #9d7e54;
  border-radius: 23px;
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  background-color: rgba(157, 126, 84, 0.2);
  font-family: 'Poppins', sans-serif; /* Font pentru textul din carduri */
}

